:root {
    --container-bg:rgba(0, 0, 0, 0.95);
    --secondary-bg:rgba(56, 56, 56, 0.95);
    --font-color: white;
    --font:
    'Open Sans',
    ui-sans-serif,
    -apple-system,
    Helvetica,
    Arial,
    sans-serif;
}

html {
  margin: 0;
    padding: 0;
    max-height: 100vh;
    overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--font);
}

.background {
  height: 100vh;
  background-position: center;
  display: flex;
    align-items: center;
    justify-content: center;
}

.time {
  color: var(--font-color)
}

.time-container {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.weather-app-container {
  background-color: var(--container-bg);
  opacity: 0.8;
  border-radius: 10px;

  /* position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;  
  margin: auto; */
  
  display: flex;
  flex-direction: column;

  width: 35%;
  height: 90%;

  /* width: 400px;
  margin: auto; */
  
  
}

.search-bar {
  margin: 20px;
  display: flex;
  background-color: var(--secondary-bg);
  border-radius: 10px;
  height: 3%;
  padding: 10px;
  align-items: center;
}

.search-bar-input {
  background: transparent;
  border: 0;
  outline: none;
  padding: 10px;
  font-size: 1.5rem;
  color: var(--font-color);
  display: flex;
  flex: 1;
}

.search-button {
  width: 30px;
  height: 30px;
  color: var(--font-color);
  cursor: pointer;
}

::placeholder {
  color: var(--font-color);
}

.weather-details-container {
  display: flex;
  justify-content: space-between;
  padding: 0 25px 0 25px;
}

p,
.lowest-temp,
.highest-temp {
  color: var(--font-color);
}

.main-temp {
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 45px;
  padding-bottom: 5px;
}

.location {
  font-size: 1.25rem;
  color: var(--font-color);
  padding-bottom: 5px;
  font-weight: 500;
}

.forecast-header  {
  font-size: 1.25rem;
  color: var(--font-color);
  font-weight: 500;
  padding: 15px 20px 10px 20px;
}

.hourly-daily-forecast-container {
  padding: 0 25px 0 25px;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 20px 0 20px 0;
}

.switch-CF-button {
  font-size: 0.8rem;
  text-align: right;
  cursor: pointer;
}

.switch-CF-button:hover {
  font-weight: bold;
}

.lowest-highest-switch {
  text-align: right;
}

.forecast-content {
  margin: 5px 0 5px 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.hourly-forecast-container {
  background-color: var(--secondary-bg);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.hourly-forecast-content {
  display: flex;
  flex-direction: row;
  padding: 0 10px 25px 10px;
  overflow-x: auto;
  gap: 15px;
}

.forecast-item {
  color: var(--font-color);
  width: 20%;
  height: 100%;
  text-align: center;
}

.forecast-item-element {
  width: 50px;
}

.forecast-icon {
  height: 45px;
  width: 45px;
}

.daily-forecast-content-container {
  overflow-y: auto;
}

.daily-forecast-container {
  background-color: var(--secondary-bg);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 50%;
}

.daily-forecast-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  align-items: center;
}

.daily-forecast-day {
  color: var(--font-color);
  align-items: center;
}

.forecast-weather-icon-temp-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.hide {
  display: none;
}