/* @font-face {
  font-family: 'Open Sans';
  src: url(/src/OpenSans.ttf) format('truetype');
} */

:root {
    --container-bg:rgba(0, 0, 0, 0.95);
    --search-bar:rgba(56, 56, 56, 0.95);
    --font-color: white;
    --font:
    'Open Sans',
    ui-sans-serif,
    -apple-system,
    Helvetica,
    Arial,
    sans-serif;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--font);
}

.background {
  background-image: url(/src/images/background\ images/Sunny.jpg);
  height: 100vh;
  background-position: center;
}

.weather-app-container {
  width: 60%;
  height: 80%;
  background-color: var(--container-bg);
  opacity: 0.8;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;  
  margin: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.search-bar {
  margin: 20px;
  display: flex;
  background-color: var(--search-bar);
  border-radius: 15px;
  height: 7%;
  padding: 10px;
  align-items: center;
}

.search-bar-input {
  background: transparent;
  border: 0;
  outline: none;
  padding: 10px;
  font-size: 1.5rem;
  color: var(--font-color);
  display: flex;
  flex: 1;
}

.search-button {
  width: 60px;
  height: 50px;
  color: var(--font-color);
  cursor: pointer;
}

::placeholder {
  color: var(--font-color);
}

.weather-details-container {
  display: flex;
  justify-content: space-between;
  padding: 0 25px 0 25px;
}

p,
.lowest-temp,
.highest-temp {
  color: var(--font-color);
}

.main-temp {
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 45px;
  padding-bottom: 5px;
}

.location {
  font-size: 1.25rem;
  color: var(--font-color);
  padding-bottom: 5px;
  font-weight: 500;
}

.forecast-header  {
  font-size: 1.25rem;
  color: var(--font-color);
  font-weight: 500;
  padding-bottom: 5px;
}

.hourly-daily-forecast-container {
  /* outline: red 1px solid; */
  padding: 0 25px 0 25px;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 20px 0 20px 0;
}

.switch-CF-button {
  font-size: 0.8rem;
  text-align: right;
}

.lowest-highest-switch {
  text-align: right;
}

.forecast-content {
  /* outline: white 1px solid; */
  margin: 5px 0 5px 0;
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.hourly-forecast-container {
  border: red 1px solid;
  height: 35%;
  display: flex;
  flex-direction: column;
}

.hourly-forecast-content {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.forecast-item {
  color: var(--font-color);
  border: green 1px solid;
  width: 15%;
  height: 100%;
}

.forecast-icon {
  height: 30px;
  width: 30px;
}

.daily-forecast-container {
  border: blue 1px solid;
  flex: 1;
}

.daily-forecast-item {
  color: var(--font-color);
}
